<header>
    <div class="headerLeft">
        <a href="index.html">
            <img src="./img/logosasch.png">
            <h3><b>Essmaning</b></h3>
        </a>
    </div>

    <div class="headerMiddle">
        <h5>Speisekarte</h5>
    </div>

    <div class="headerRight">
        <div class="headerRightHoverFlag">
            <img src="./img/germanflag.png" class="germanFlag">
        </div>
        <div class="headerRightHoverBurger" onclick="showBurgerMenu()">
            <img src="./img/lines-leaning-solid.png" class="burger">
        </div>
    </div>
</header>